<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.lumastore.utilities.ExtentListenerClass">
		</listener>
	</listeners>
	<test thread-count="5"  name="Test">
		<classes>
			<!--class name="com.opencart.testcases.TC_createAnAccountPageTest" / -->
			<class name="com.lumastore.testcases.TC_RegisteredUserWelcomePageTest" />
			<!-- class name="com.lumastore.testcases.TC_homePageTest" / -->
			<!-- class name="com.lumastore.testcases.TC_loginPageTest" / -->
			<!--class name="com.lumastore.testcases.TC_dataDrivenLoginPageTest" / -->
			<!-- class name="com.lumastore.testcases.TC_ProductPurchaseFlowTest" / -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
